@use '../helpers' as *;

.card {
  position: relative;

  &__body {
    padding: fluid(6, 0) fluid(8, 0);

    display: grid;
    gap: rem(8);
  }

  &__columns {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;

    @include mobile {
      row-gap: rem(4);
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    a {
      text-decoration: none;
      &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    }
  }

  &__image {
    max-height: 438px;
    object-fit: contain;
  }

  &__price {
    text-align: right;
  }

  &__colors {
    display: inline-flex;
    gap: rem(8);
  }

  &__button-favourite {
    position: absolute;
    top: fluid(24, 10);
    right: fluid(24, 10);
    z-index: 10;

    button {
      border: none;
      background: none;
      margin: 0;
    }

    &:has(.is-active) {
      .heart-icon {
        fill: var(--color-red);
        stroke: var(--color-red);
      }
    }
  }
}
