@use '../helpers' as *;

.follow {
  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    :first-child {
      grid-column: span 2;
      grid-row: span 2;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mobile {
        object-position: 50% 20%;
        max-height: rem(300);
      }
    }
  }
}