@use '../helpers' as *;

.header__overlay {
  z-index: -1;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-light); 

  @include tablet-above {
    display: none;
  }

  &-content {
    padding-top: 106px;
    padding-bottom: 56px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(82);
  }

  &-accordion {
    border-bottom: 1px solid var(--color-black);
  }

  &-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(16);
  }

  &-links {
    display: flex;
    flex-direction: column;
    gap: rem(32);
  }
    
  &:not(.is-active) {
    display: none;
  }
}