@use '../helpers' as *;

.hero {
  height: fluid(600, 400);
  background-color: #C9BBA2;
  background-image: url('../../../public/images/hero-2x.jpg');
  background-position: left 60px top;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile-s {
    background-position: left -70px top;
  }

  &__title {
    max-width: fluid(400, 250);
    font-style: italic;
  }

  .container,
  &__content {
    height: 100%;
  }

  &__content {
    height: 100%;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    gap: rem(27);
    padding-bottom: fluid(103, 16);
  }
}