@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 24);
  font-size: rem(16);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: var(--color-light);
  overflow-x: hidden;
  text-transform: capitalize;

  &.is-lock {
    @include tablet {
      overflow: hidden;
    }
  }
}

main,
favourite {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: fluid(88, 24);
  padding-bottom: fluid(88, 24);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: capitalize;
  font-weight: 600;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(34, 20);
  font-weight: 500;
}

h2, .h2 {
  @include fluid-text(32, 20);
}

h3, .h3 {
  @include fluid-text(24, 18);
}

h4, .h4 {
  @include fluid-text(16, 14);
  font-weight: 700;
}

h5, .h5 {
  font-size: rem(16);
}

h6, .h6 {
  font-size: rem(14);
}  

a, 
button, 
label, 
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-green);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
   transition-duration: 0s !important;
}

a, 
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(34));

      content: '';
    }
  }
}

.button {
  background-color: var(--color-light);
  padding: rem(8) fluid(67, 10);
} 

.profile-icon {
  display: inline-flex;
  align-items: center;
  gap: rem(4);
}

.heart-icon {
  fill: var(--color-light);
  stroke-width: 2px;
  stroke: var(--color-black);
}

a, button {
  @include hover {
    .heart-icon {
      stroke: var(--color-green);
      fill: var(--color-green);
    }
  }
}

.green-outline-button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-block: rem(8);
  border: 1px solid var(--color-green);
  color: var(--color-green);

  @include hover {
    color: var(--color-light-green)
  }
}

.section-title {
  margin-bottom: fluid(24, 8);
}